body {
    /* position: relative; */
    min-height: 100vh;
    font-family: "Krub", sans-serif !important;
    background-color: black;
    color: white;
}

footer {
    /* position: absolute; */
    background-color: #b6b6b6;
    width: 100%;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}
.fondo_movies {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.zoom:hover {
    transform: scale(1.005);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.titulos,
.titulos span {
    font-size: 25px;
    padding: 20px 0 20px;
    color: blanchedalmond !important;
}
.titulos a {
    font-size: 15px;
    padding: 10px 10px 0;
}

.welcome,
.peliculas,
.generos,
.editar_pelicula,
.actores,
.agregar_actor,
.pelicula,
.actor {
    margin-top: 80px;
    margin-bottom: 50px;
}
h1 {
    font-size: 40px;
    font-family: "Krub", sans-serif !important;
    font-weight: 600;
    padding-bottom: 30px;
}
.actores h1 {
    display: inline-block;
}

.title_movie,
.title_actor {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    padding-bottom: 15px;
}
.title_generos {
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 30px;
    padding-top: 40px;
}
.title_genre p {
    font-size: 40px;
    font-weight: 600;
}
.card-title,
span {
    color: black !important;
}

.fondo-movie {
    background-color: red !important;
    width: 100%;
}
.pelicula_descripcion {
    font-size: 18px;
}
.actores p,
.card-body p {
    color: black;
}
.reparto {
    background-color: rgb(26, 26, 26);
    margin: 0 auto;
    padding: 15px;
    height: 250px;
    overflow: hidden;
    overflow-y: auto;
}
.reparto img {
    width: 64px;
}

.profile_movie img {
    width: 100%;
}
.profile_movie {
    border-radius: 100% !important;
    width: 50px;
    display: inline-flex;
}
.profile_movie p {
    padding-left: 25px;
    line-height: 20px;
}
.agregar_actor span {
    color: white !important;
}

.actor ul {
    padding-left: 0px;
}
.actor ul li {
    list-style: none;
}
.login,
.register {
    color: black;
}
.profile_actor_home img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.card_actors {
    text-align: center;
}
.card_actors {
    text-align: center;
    filter: grayscale(100%);
}
.card_actors:hover {
    filter: grayscale(0%);
}

.card_genres {
    text-align: center;
    font-weight: 700;
}
.card_genres h5 {
    font-size: 25px;
    font-weight: 600;
}
.modal {
    color: black !important;
}
